*.egg
*.egg-info
*.pyc
*.pyo
*.db
*.sqlite
*$py.class
*.pt.py
*.txt.py
*.swp
.coverage
.project
.pydevproject
shootout/.project
shootout/.pydevproject
shootout/.settings/
env26/
env24/
env27/
jyenv/
pypyenv/
build/
dist/
ideadb
exception.log
